


h1{
    color: brown;
    display: inline-block;
    font-family: 'Anton', sans-serif;
    margin-top: 100px;
    
    
}
ul li{
margin-top: 20px ;
    float :right;
    border-radius: 10px;
    background-color: burlywood;
    height: 30px;
    text-align: center;
    font-family: 'Lacquer', sans-serif;


}

a{


margin:50px;
padding: 40px;
color : brown;  
}
 ul li a:hover{

    background-color:white;
    height: 30px;
 }
 
 header img {

    
    width: 150px ;
    margin-top: 0px;
    padding: 20px;
    float: left;
  
   
 }

table,th,td{
    border: 1px solid black;
    margin-top: 50px;
}

img {

width: 300px;

}

td {

    padding: 10px;
}

fieldset{


    margin-top: 50px;
}

.cookie1 {

    width: 100%;
}

.table{
    display: block;
    height: 800px;
    width: 960px;
}