h1{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: brown;
text-align: center;

}

table,th,td{

    border: 1px solid black;
    margin-top: 50px;
    
}

img {

width: 200px;
display: block;
margin: auto;
padding: 50px;

}

td {

    padding: 10px;
}
table{

    text-align: center;
    margin:auto;
}